.event-notification-parent {
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 1.5rem;
}

.event-notification {
    width: max-content;
    margin: auto;
    padding: 6px 12px;
    background: #666;
    color: white;
    border-radius: 9999px;
    transition: 0.5s;
}

.event-notification.disabled {
    opacity: 0;
}