#main-area {
    flex-grow: 1;
    height: 100vh;
    padding: 0.5rem 1.25rem;
    overflow-y: auto;
}

/* ---------- Task ---------- */

.task {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem;
    border-bottom: 1px solid var(--clr-primary);
    pointer-events: none;
}

.task:hover {
    background-color: #ddd;
    cursor: pointer;
}

.task .task-type-img {
    width: 24px;
    opacity: 0.5;
}

.task .task-info,
.task .task-status-img {
    pointer-events: auto;
}

.task .task-name {
    font-size: var(--fs-medium-large);
    font-weight: 500;
    margin-bottom: 4px;
}

.task .task-time {
    color: var(--clr-neutral);
    font-size: var(--fs-medium-small);
}

.task .task-time>* {
    padding: 0px 4px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

.task .task-status-img {
    width: 32px;
}