#main-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    padding: 1rem;
    border-right: 1px solid var(--clr-neutral-light);
    font-weight: 500;
}

.main-nav-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.main-nav-item.selected {
    background-color: #ddd;
}

.main-nav-item:hover {
    background-color: #ccc !important;
}

.main-nav-item img {
    width: 24px;
}