#no-task-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--fs-largest);
    height: 100%;
}

#no-task-screen img {
    width: 128px;
}

#no-task-screen p {
    color: #444;
    font-size: var(--fs-large);
    font-weight: 500;
}