.select {
    display: flex;
    width: max-content;
}

.select.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select .option {
    padding: 0.3rem 0.5rem;
    background-color: #fff;
    color: var(--clr-primary-dark);
    font-weight: 500;
    border: 1px solid var(--clr-primary-dark);
    cursor: pointer;
}

.select .option:not(:first-child) {
    border-left: none;
}

.select .option:hover {
    background-color: #ddd;
}

.select .option.selected {
    background-color: var(--clr-primary-dark);
    color: white;
}

.select .option.selected:not(:last-child) {
    border-right: 1px solid rgb(255, 255, 255, 0.25);
}