#first-time-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#first-time-screen .logo {
    width: 128px;
    margin-bottom: var(--fs-largest);
}

#first-time-screen .title {
    color: #444;
    font-size: var(--fs-largest);
    font-weight: 600;
    margin-bottom: var(--fs-largest);
}

#first-time-screen p {
    max-width: 720px;
    font-size: var(--fs-large);
    margin-bottom: 1rem;
    color: #444;
    text-align: center;
}

#first-time-screen .start-btn {
    padding: 0.5rem 0.8rem;
    margin-top: var(--fs-largest);
    background: var(--clr-primary-dark);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    font: inherit;
    font-size: var(--fs-large);
    font-weight: 500;
    cursor: pointer;
}

#first-time-screen .start-btn:hover {
    opacity: 0.8;
}